@using AdminPanelliDinamikCV_App.Models.Entity
@model List<Trainings>

<div class="resume-section-content">
    <h2 class="mb-5">Education</h2>

    @foreach (var edu in Model)
    {

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">@edu.Title</h3>
                <div class="subheading mb-3">@edu.SubTitle</div>
                <div>@edu.SubTitle2</div>
                <p>GPA: @edu.Gno</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">@edu.Date</span></div>
        </div>
    }
</div>
